/* Minimal styles for NRD Data Access Admin */

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Hide scrollbars but keep scrolling functionality */
.modal-scroll {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.modal-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

